.field input {
  border: 4px solid #080808;
  width: 3em;
  height: 2em;
}

.formstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfffff;
}

.form-group {
  padding: 10px;
  margin: 10px;
}