.heading {
  font-size: 2em;
  font-weight: 600;

  @media only screen and (max-width: 414px) {
    margin-left: 24px;
    text-align: left;
  }
}

.button {
  background: #fff;
  border: 2px solid #080808;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  margin: 4px auto;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;


  @media only screen and (max-width: 414px) {
    font-size: 1em;
    min-width: 80vw;
  }
}

.button:hover :visited :active :focus{
  background: aqua;
  border-color: black;
  color: #fff;
}

.radio {
  font-size: 20px;
  padding-right: 8px;
  

  @media only screen and (max-width: 414px) {
    display: flex;
    padding: 8px;
    text-align: left;
    margin-left: 16px;
  }
}

.weather-form {
  margin-bottom: 20px;
}

.textstyle {
  margin-bottom: 5px;
}