
.temp-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-div {
  align-items: center;
  background-color: aqua;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1em;

}

.mainbody {
  flex-grow: 2;
  padding: 12px;
  text-align: center;
}

.router-style {
  color: #000;
  font-size: 2.2em;
  padding: 10px 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.router-style:hover {
  color: aqua;
}

.router.style:active {
  color: #0a4968;
}

header {
  padding: 16px;
}

// .button :visited {
//   border: none;
// }


.weather-title {
  @media only screen and (max-width: 414px) {
    margin-left: 24px;
  }
}
